@import "lib.less";

/* This is for jquery tools form validator */
.error {
	/* supply height to ensure consistent positioning for every browser */
	height:15px;
	background-color:#FFFE36;
	border:1px solid #E1E16D;
	font-size:11px;
	color:#000;
	padding:3px 10px;
	margin-left:-2px;

	.rounded-corners;
    .box-shadow;

    em {
        display:block;
        width:0;
        height:0;
        border:10px solid;
        border-color:#FFFE36 transparent transparent;

        /* positioning */
        position:absolute;
        bottom:-17px;
        left:60px;
    }
}

/* general form element styles */
textarea {
	height: 30px;
	width: 510px;
	padding: 10px;
	border: 1px solid #ddd;
}

input[type=text] {
	width: 100px;
	margin: 0;
	border: 1px solid #ddd;
	background: white;
}


input[type=submit] {
	height: 50px;
	width: 100px;
	margin: 1em;
	border: 1px solid #ddd;
	background: white;
}

/* specific class/element styles */
#cross_refs {
    li {
        list-style-type: none;
        display: inline-block;
        .rounded-corners;
        background: @light-gray;
        margin: 4px;
        padding: 4px 4px;

        input.cf {
            border: 0;
            background: @light-gray;
            color: @black;
        }
        a {
            cursor: pointer;
        }
    }
}