@import "lib.less";

article {
    position: relative;
	border: 1px solid #eee;
	border-top: none;
	padding: 15px 10px;
    &:first-of-type {
        border: 1px solid #eee;
    }
    &:nth-child(even) {
        background: #fafafa;
    }
    h1 {
        font-size: 100%;
    }
    .question {
        position:absolute; left: 96%;
        top: 10px; width: 50px;
        padding: 15px 0; margin:0;
        text-align:center;background: #BEF56E;
    }
    .tidbit_notes {
        .tidbit {
            font-family: 'OFL Sorts Mill Goudy TT' serif;
            font-style: italic;
            font-size: 150%;
        }
        .more_details {
            font-family: 'Josefin Sans';
        }
        .show_details { margin-top:-20px; font-size: 80%;}
    }
    .tidbit_tags {
        margin-top: 20px;
        div {float:left; width: 50%;}
    }
    .tidbit_admin {clear:both;}
    .meta_tags li {
        .inline-list;
        .tag-style(4px, 6px, 8px);
        font-size: 80%;
    }
}