[submodule "evernote_oauth"]
	path = evernote_oauth
	url = https://leehsueh@github.com/leehsueh/django-evernote-oauth.git
[submodule "google_oauth"]
	path = google_oauth
	url = https://leehsueh@github.com/leehsueh/django-gdata-oauth.git
