{% extends 'bibledb/base_twoCol.html' %}
{% block title %}Change Password{% endblock %}
{% block additionalcss %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/forms.css" />
{% endblock %}
{% block leftcolcontent %}
<p>Edit user account information.</p>
{% endblock %}

{% block rightcolcontent %}
<h2>Change Password for {{ user }}</h2>
<form action="" method="post">
{{ form.as_p }}
{% csrf_token %}
<button type="submit" value="Submit">Change Password</button>
</form>
{% endblock %}
