<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TJC BDB Log-in</title>
<script type="text/javascript">
    (function() {
        if (typeof window.janrain !== 'object') window.janrain = {};
        window.janrain.settings = {};
        
        janrain.settings.tokenUrl = 'http://{{ request.get_host }}{% url janrain:janrain-login %}?next={{ next }}';

        function isReady() { janrain.ready = true; };
        if (document.addEventListener) {
          document.addEventListener("DOMContentLoaded", isReady, false);
        } else {
          window.attachEvent('onload', isReady);
        }

        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.id = 'janrainAuthWidget';

        if (document.location.protocol === 'https:') {
          e.src = 'https://rpxnow.com/js/lib/tjcbdb/engage.js';
        } else {
          e.src = 'http://widget-cdn.rpxnow.com/js/lib/tjcbdb/engage.js';
        }

        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(e, s);
    })();
    </script>
</head>

<body>

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url django.contrib.auth.views.login %}">
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
{% csrf_token %}
<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
<p>
<a class="janrainEngage" href="#">Sign in with another account</a>
</p>
{% endblock %}

</body>
</html>
