{% extends "tidbits_layout.html" %}
{% block additionalcss %}
<link rel="stylesheet" href="{{ STATIC_URL }}jquery-ui-1.8.12.custom/css/ui-lightness/jquery-ui-1.8.12.custom.css">
<link rel="stylesheet/less" href="{{ STATIC_URL }}css/tidbit_form.less">
{% endblock %}

{% block content %}
{% include "tidbits_form.html" with action_url=action_url tidbit=tidbit form_id="tidbit_form" %}
{% endblock %}

{% block additionaljs %}
<script src="{{ STATIC_URL }}js/form.jquery.tools.1.2.5.min.js"></script>
<script src="{{ STATIC_URL }}jquery-ui-1.8.12.custom/js/jquery-ui-1.8.12.custom.min.js"></script>

<!-- wymeditor -->
<script type="text/javascript" src="{{ STATIC_URL }}commonjs/wymeditor/src/jquery.wymeditor.min.js"></script>

<script src="{{ STATIC_URL }}js/tidbit_form.js"></script>
{% endblock %}