{% comment %}
Calling template must include the css/js necessary for the form to work.
Context variables:
    - action_url
    - form_id
    - tidbit
{% endcomment %}
<form action="{{ action_url }}" method="post" id="{{ form_id }}" novalidate>
    <textarea id="tidbit" name="tidbit" placeholder="Enter your Tidbit" required>{% if tidbit.tidbit %}{{ tidbit.tidbit }}{% endif %}</textarea>
    <br>
    <label for="is_question">This is a question</label>
    <input type="checkbox" name="is_question" value="Yes" {% if tidbit.is_question %}checked{% endif %}>
    <br>
    <label for="more">More:</label><br>
    <textarea id="more" name="more" placeholder="Further thoughts or reflections">{% if tidbit.reflection %}{{ tidbit.reflection }}{% endif %}</textarea>
    <fieldset>
        <legend>Cross References</legend>
        <ul id="cross_refs">
        {% if tidbit %}{% for cf in tidbit.cross_refs.all %}
            <li><input type="text" name="cf" class="cf" type="text" pattern="[12]?[A-Za-z ]+[A-Za-z] ?[0-9]+:[0-9]+ ?(- ?[0-9]+(:[0-9]+)?)?$" data-message="Invalid Bible reference format" placeholder="Enter passage" value="{{ cf }}"> <a>x</a></li>
        {% endfor %}
        {% else %}
            <li><input type="text" name="cf" class="cf" type="text" pattern="([12]?[A-Za-z ]+[A-Za-z] ?[0-9]+:[0-9]+ ?(- ?[0-9]+(:[0-9]+)?)?$)?" data-message="Invalid Bible reference format" placeholder="Enter passage"> <a>x</a></li>
        {% endif %}
        </ul>
        <button>Add Another</button>
    </fieldset>
    <label for="tags">Tags</label>:
    <textarea id="tags" name="tags" placeholder="Enter comma-separated tags">{% if tidbit %}{% for tag in tidbit.tags.all %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}</textarea>
    <br>
    <input type="submit" value="Save" id="save_btn">
    {% csrf_token %}
</form>