{% extends "tidbits_layout.html" %}
{% block additionalcss %}
<link rel="stylesheet" href="{{ MEDIA_URL }}tidbits/css/livevalidation.css">
<link rel="stylesheet/less" href="{{ MEDIA_URL }}tidbits/css/addtidbit.less">
{% endblock %}

{% block content %}
<form action="{% url tidbits:add %}" method="post" id="add_tidbit_form">
    <textarea id="tidbit" name="tidbit"></textarea>
    <br>
    <label for="is_question">This is a question</label>
    <input type="checkbox" name="is_question" value="Yes">
    <br>
    <label for="more">More:</label><br>
    <textarea id="more" name="more"></textarea>
    <fieldset>
        <legend>Cross References</legend>
        <ul id="cross_refs">
            <li><input type="text" name="cf" class="cf" type="text" placeholder="Enter passage"> <a>x</a></li>
        </ul>
        <button>Add Another</button>
    </fieldset>
    <input type="submit" value="Save" id="save_btn">
    <input type="submit" value="Cancel" id="cancel_btn">
    {% csrf_token %}
</form>
{% endblock %}

{% block additionaljs %}
<script src="{{ MEDIA_URL }}js/livevalidation1.3.min.js"></script>
<script src="{{ MEDIA_URL }}tidbits/js/addtidbit.js"></script>
{% endblock %}