<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<title>Bible Tidbits: {% block title %}Home{% endblock %}</title>
	<meta name="description" content="">
	<base href="/">

	<!-- for mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope:regular" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css">
	<link rel="stylesheet/less" href="{{ STATIC_URL }}css/global.less">
    {% block additionalcss %}{% endblock %}
    
    <!-- less.js -->
    <script src="{{ STATIC_URL }}commonjs/less-1.0.41.min.js"></script>
    
    <!-- google analytics -->
    <!--script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22602946-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script-->

    <!-- Janrain Engage Plugin -->
    <script type="text/javascript">
        (function() {
            if (typeof window.janrain !== 'object') window.janrain = {};
            window.janrain.settings = {};
            
            janrain.settings.tokenUrl = 'http://{{ request.get_host }}{% url janrain:janrain-login %}?next=/tidbits/';

            function isReady() { janrain.ready = true; };
            if (document.addEventListener) {
              document.addEventListener("DOMContentLoaded", isReady, false);
            } else {
              window.attachEvent('onload', isReady);
            }

            var e = document.createElement('script');
            e.type = 'text/javascript';
            e.id = 'janrainAuthWidget';

            if (document.location.protocol === 'https:') {
              e.src = 'https://rpxnow.com/js/lib/tjcbdb/engage.js';
            } else {
              e.src = 'http://widget-cdn.rpxnow.com/js/lib/tjcbdb/engage.js';
            }

            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(e, s);
        })();
    </script>
</head>

<body>
    <div id="container">
        <header>
        <hgroup>
          <h1><a href="{% url tidbits:home %}">Bible Tidbits</a></h1>
          <h2>for those impromptu bits of insight</h2>
        </hgroup>
        <nav>
            <ul>
                <li>{% if request.user.is_authenticated %}Welcome {{ request.user.first_name }}! (<a href="{% url janrain:janrain-logout %}">logout</a>){% else %}<a class="janrainEngage" href="#">Sign-In</a>{% endif %}</li>
                <li><a href="#">Search</a>
                </li>
                <li><a href="{% url tidbits:add %}">New Tidbit</a></li>
            </ul>
        </nav>
        </header>
        {% block content %}
        <p>This text should be replaced by sub-templates.</p>
        {% endblock %}
    </div>


<script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
<script>window.jQuery || document.write("<script src='{{ STATIC_URL }}commonjs/jquery.js'>\x3C/script>")</script>
{% block additionaljs %}{% endblock %}

<!-- RefTagger from Logos. Visit http://www.logos.com/reftagger. This code should appear directly before the </body> tag. -->
<script src="http://bible.logos.com/jsapi/referencetagging.js" type="text/javascript"></script>
<script type="text/javascript">
    Logos.ReferenceTagging.lbsBibleVersion = "NKJV";
    Logos.ReferenceTagging.lbsLinksOpenNewWindow = true;
    Logos.ReferenceTagging.lbsLibronixLinkIcon = "dark";
    Logos.ReferenceTagging.lbsNoSearchTagNames = [ "span", "h1", "h2", "h3" ];
    Logos.ReferenceTagging.tag();
</script>
</body>

</html>