<article>
    <section class="tidbit_notes">
        {% if tidbit.is_question %}<p class="question">?</p>{% endif %}
        <p class="tidbit">{{ tidbit.tidbit }}</p>
        {% if tidbit.reflection %}
            <h1><a class="toggle_more">[ More ]</a><a class="toggle_less" style="display:none;">[ Less ]</a></h1>
            <div class="more_details" style="display:none;">{{ tidbit.reflection|safe }}</div>
        {% endif %}
    </section>
    <section class="tidbit_tags">
        <div>
            <h1>Cross References</h1>
            <ul class="meta_tags">{% for cf in tidbit.cross_refs.all %}
                <li><a>{{ cf }}</a></li>
            {% endfor %}</ul>
        </div>
        <div>
            <h1>Tags</h1>
            <ul class="meta_tags">{% for tag in tidbit.tags.all %}
                <li><a href="{% url tidbits:tidbits-by-tag tag_slug=tag.slug %}">{{ tag }}</a></li>
            {% endfor %}</ul>
        </div>
    </section>
    <section class="tidbit_admin">
        <p class="meta">{{ tidbit.created_by }} on {{ tidbit.created_on|date:"m/d/Y" }}, last updated {{ tidbit.updated_on|date:"m/d/Y" }}
        <p><span><a href="{% url tidbits:edit tidbit_id=tidbit.id %}">[edit]</a></span></p>
    </section>
</article>
