<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<title>Bible Tidbits: {% block title %}Home{% endblock %}</title>
	<meta name="description" content="">
	<base href="/">

	<!-- for mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{{ MEDIA_URL }}tidbits/css/reset.css">
	<link rel="stylesheet/less" href="{{ MEDIA_URL }}tidbits/css/global.less">
    {% block additionalcss %}{% endblock %}
    
    <!-- less.js -->
    <script src="{{ MEDIA_URL }}js/less-1.0.41.min.js"></script>
    
    <!-- google analytics -->
    <!--script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22602946-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script-->
</head>

<body>
    <div id="container">
        <header>
        <hgroup>
          <h1><a href="{% url tidbits:home %}">Bible Tidbits</a></h1>
          <h2>for those impromptu bits of insight</h2>
        </hgroup>
        <nav>
            <ul>
                <li><a href="{% url tidbits:home %}">Home</a></li>
                <li><a href="{% url tidbits:home %}">Log In</a></li>
                <li><a href="{% url tidbits:add %}">New Tidbit</a></li>
            </ul>
        </nav>
        </header>
        {% block content %}
        <p>This text should be replaced by sub-templates.</p>
        {% endblock %}
    </div>


<script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
<script>window.jQuery || document.write("<script src='{{ MEDIA_URL }}js/jquery1.5.2.min.js'>\x3C/script>")</script>
{% block additionaljs %}{% endblock %}

</body>

</html>