<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!--link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ntgreekvocab/html5reset-1.6.1.css" /-->
        <!--link rel="stylesheet" href="{{ MEDIA_URL }}js/contactable/contactable.css" type="text/css" /-->
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ntgreekvocab/base.css" />
        {% block additionalcss %}{% endblock %}
        <title>NT Greek Vocabulary</title>
        
        <!-- google analytics -->
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-22602946-1']);
          _gaq.push(['_trackPageview']);
        
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </head>
    <body>
    <div id="container">
    <header id="topheader">
        <h1><a href="{% url ntgreekvocab:home %}">NT Greek Vocabulary</a></h1>
        <nav>
            <ul>
                <li><a href="{% url ntgreekvocab:card-add %}">Add Word</a></li>
                <li><a href="{% url ntgreekvocab:cards-list %}">Word List</a></li>
                <li><a href="{% url ntgreekvocab:card-lookup %}">Word Lookup</a></li>
                <li><a href="#">Lessons</a></li>
            </ul>
            <div id="lessons">
                <ul>
                    <li><a href="{% url ntgreekvocab:lesson lesson_num='NA' %}">NA</a></li>{% for ln in lessons %}
                    <li><a href="{% url ntgreekvocab:lesson lesson_num=ln %}">{{ ln }}</a></li>{% endfor %}
                </ul>
            </div>
        </nav>
    </header>
    {% block content %}{% endblock %}
    <footer id="bottomfooter">
        <ul>
            <li><a href="http://scripts.sil.org/Gentium_download" rel="external">Get the Gentium Plus font</a></li>
            <li><a href="http://www.google.com/search?q=New+Testament+Greek+for+Beginners+(2nd+Edition)" rel="external">NT Greek for Beginners, 2nd Edition</a></li>
        </ul>
        <p>This site uses some HTML5 specific elements.</p>
    </footer>
    </div>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.4.min.js"></script>
    <script type="text/javascript">
        var hideLessons = function() {
            $("#lessons").slideUp(300);
        }
        var showLessons = function() {
            $("#lessons").slideDown(300);
        }
        var toggleLessons = function() {
            $("#lessons").slideToggle(300);
        }
        $("#topheader>nav>ul>li>a").last().click(toggleLessons);
        $(document).click(function(event) {
            var el = $("#lessons");
            var offset = el.offset();
            var width = el.outerWidth()
            var height = el.outerHeight();
            var x = event.clientX;
            var y = event.clientY;
            if ((x < offset.left || x > offset.left + width || y < offset.top || y > offset.top + height)
                && el.css('display') != 'none'
                && event.target != $("#topheader>nav>ul>li>a").last()[0]) {
                hideLessons.call();
            }
        })
    </script>
    <!-- jQuery contactable plugin (also contactable.css in header) -->
    <!-- temporarily comment out; slows down page loading and not used..
    <div id="contact">
    </div>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/contactable/jquery.validate.pack.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/contactable/jquery.contactable.js"></script>
    <script type="text/javascript">
	$('#contact').contactable({
	 		subject: 'NT Greek Feedback',
                        disclaimer: 'Your feedback is appreciated. Especially if there are mistakes.',
                        actionUrl: '{% url ajax-contactable %}'
	 });
    </script>
    -->
    <!-- End jQuery contactable plugin -->
    
    {% block customjs %}{% endblock %}
</body>
</html>
