{% extends 'bibledb_base_twoCol.html' %}
{% block additionalcss %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bibledb_forms.css" />
{% endblock %}
{% block leftcolcontent %}
{% if form_submit_name == "addVerseList" %}
{% include "bibledb_cat_list_fragment.html" %}

{% else %}
{{ static_explanation|safe }}
{% endif %}
{% endblock %}

{% block rightcolcontent %}
<h2>{{ form_header }}</h2>
<form action="" method="post">{% csrf_token %}{% if form.book %}
{% include "bibledb_entry_form_fragment.html" %}

{% else %}{{ static_explanation|safe }}
<div id="addListForm">
    {{ form.as_p }}
    <p><button type="submit" name="{{ form_submit_name }}" value="Submit">Submit</button></p>
</div>{% endif %}

</form>


{% endblock %}
