{% extends 'bibledb_base.html' %}
{% block layoutcss %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bibledb_base_twoCol.css" />{% endblock%}
  
{% block contentcontainer %}
<div id="contentContainer" class="twoColElasticHdr">
  <div id="sidebar1">
        {% block leftcolcontent %}
            <p>Replace with content here</p>
        {% endblock %}
  </div><!-- end #sidebar1 -->
  <div id="mainContent">
        {% block rightcolcontent %}
            <p>Replace with content here</p>
        {% endblock %}
	</div><!-- end #mainContent -->
</div><!-- end #contentContainer -->
{% endblock %}
