#content_container {
    margin-bottom: 40px;
}
#coda-slider-1 {
    margin-left: 200px;
    position: fixed;
    display: none;
}
#coda-nav-1 ul { width: 150px; float: left; padding-left: 10px;}
#coda-nav-1 ul li a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
#coda-nav-1 ul li a:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
section.word_info { margin: 0;}
